@import './node_modules/bootstrap-sass/assets/stylesheets/bootstrap-sprockets';
@import './node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

// Ensure nav bar doesn't get malformed from <Link> components
.app-navbar {
  .nav a[role="button"] {
    display: none;
  }
}

#loading-template {
  display: none;
}

.loading #loading-template {
  display: block;
  font-weight: bold;
  font-size: 4rem;
  text-align: center;
}

.torrent-item {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.torrent-item {
  display: flex;
  align-items: center;
}

.anime-row {
  display: flex;
  flex-wrap: wrap;

  &:before {
    content: none;
  }
}

.anime-item {
  overflow: hidden;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin: 2rem 0;

  img {
    position: relative;
    width: 100%;
  }
  .content {
    padding: 1rem;
  }
  hr {
    margin: 1rem 0;
  }
  .title {
    line-height: 3rem;
    font-weight: bold;
    font-size: 2rem;
  }
  .icon-container,
  .subgroup {
    display: inline-block;
  }
  .subgroup {
    font-weight: bold;
    float: right;
  }
}
