@import '~bootswatch/flatly/variables';
@import '~bootstrap-sass/assets/stylesheets/bootstrap-sprockets';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import '~bootswatch/flatly/bootswatch';
@import 'variables';
@import 'breakpoints';
@import 'offcanvas';
@import 'anime/item';

.application.container {
  min-width: 100%;
  min-height: 100%;
  background-color: #fff;
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: 1;
  padding-top: 8rem;

  @include bp(sm) {
    left: $offcanvas-width;

    .row.view {
      width: 100% - $offcanvas-width;
    }
  }
}

// Ensure nav bar doesn't get malformed from <Link> components
.app-navbar {
  border-radius: 0;
  margin-bottom: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;

  .nav a[role="button"] {
    display: none;
  }

  .navbar-brand {
    margin-left: 4rem;
  }
}

.fa.center-loading {
  margin: 0 auto;
  text-align: center;
  font-size: 10rem;
  width: 100%;
}

#loading-template {
  display: none;
}

.loading #loading-template {
  display: block;
  font-weight: bold;
  font-size: 4rem;
  text-align: center;
}

.torrent-item {
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin: 2rem 0;

  &:before {
    content: none;
  }
}

.torrent-item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .name, .link {
    padding-bottom: 1rem;
  }

  .name {
    font-weight: bold;
    font-size: 2rem;
  }

}

.anime-row {
  display: flex;
  flex-wrap: wrap;

  &:before {
    content: none;
  }
}

.animegroup-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.example-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.example-enter.example-enter-active {
  opacity: 1;
}
.example-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.example-leave.example-leave-active {
  opacity: 0.01;
}
.example-appear {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.example-appear.example-appear-active {
  opacity: 1;
}

.anime-item-link,
.anime-item-link:hover {
  color: black;
  text-decoration: none;
}

.manage_anime {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 1rem;
  margin: 1rem 0;

  @include bp(sm) {
    margin: 0;
    margin-bottom: 1rem;
  }

  .form-group {
    margin: 0;
  }
}

.subgroup {
  display: flex;
  .subgroup-name {
    margin-right: 1rem;
    flex: 1;

    @include bp(sm) {
      flex: 2;
    }
  }
  button {
    flex: 1;
  }
}

.manage-container,
.manage-btn-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  .btn {
    flex: 1;
    margin: 0 1rem;

    &:first-of-type {
      margin-left: 0;
    }
    &:last-of-type {
      margin-right: 0;
    }
  }
}

.anime-item-page {
  .anime-image {
    width: 100%;
  }
  .left {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }
  .content {
    padding: 1rem;
  }
}

.icon-text {
  padding-left: 5px;
}
